db.sqlite3
*.pyc
local_settings.py
!/.gitignore
Docker/CPUWorker/bvlc_reference_caffenet.caffemodel
cloudcv17/media/
nodejs/
.idea/
env/
npm-debug.log
*.pkl
*.hdf5
cloudcv17/logs/
app/executable/LSTM+MLP
static/bower_components/
