redis==2.10.3
oauth2client==1.4.6
Pillow==2.7.0
querystring-parser==1.2.0
uWSGI==2.0.9
celery==3.1.17
celery-with-redis==3.0
dropbox==2.2.0
requests==2.5.1
Django==1.7.1
numpy==1.10.4
scikit-image==0.12.3
protobuf==2.6.1
Jinja2==2.7.3
shortuuid==0.4.2
lmdb==0.84
leveldb==0.193
cython==0.23.4
six==1.9.0
