{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
<style type="text/css">
  #heading{
    font-weight: 300;
    text-align: center;
  }
  .btn-large {
    width:100%;
  }
  #nicebox{
    border-top: 4px solid #4c9cdf;
    margin-top:6%;
    background-color: white;
  }
  .waves-effect.waves-blue .waves-ripple {
      background-color: rgb(33,150,243);
    }
  .errorlist{
    list-style-type: none;
    color: #b11616;
    font-size: 12px;
    text-align: left;
  }
  @media screen and (min-width: 800px) {
    form{
    width: 60%;
    padding-bottom: 8%;
  }
    .container{
    width: 50%;
    }   
}
@media screen and (max-width: 800px) {   
  #heading{
    font-size: 21px;
  }
    form > div:last-child{
        padding-bottom: 10px;
    }
}
#buttondiv{
    overflow: hidden;
}
/*#submitbtn{
    margin-top: 20px;
}*/
</style>
<div class="row" >
  <div class="container z-depth-5" id="nicebox" >
  <div align="center">
    <h3 id="heading">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="action" class="btn btn-large waves-effect waves-light blue white-text ">Change Password</button>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
        </div>  
</div>
</div>
<script type="text/javascript">
    $( document ).ready(function() {
      $('form > p').each(function(){
        $('form > p').replaceWith(function(){
        return $("<div />", {html: $(this).html()});
        });
        $('input').parent().addClass('input-field');
      });
      });
    </script>
{% endblock %}