{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<style type="text/css">
  #heading{
    font-weight: 300;
    text-align: center;
  }
  .btn-large {
    width:100%;
  }
  #nicebox{
    border-top: 4px solid #4c9cdf;
    margin-top:6%;
    background-color: white;
  }
  .waves-effect.waves-blue .waves-ripple {
      background-color: rgb(33,150,243);
    }
  .errorlist{
    list-style-type: none;
    color: #b11616;
    font-size: 12px;
    text-align: left;
  }
  @media screen and (min-width: 800px) {
    form{
    width: 60%;
    padding-bottom: 8%;
  }
  .container{
    width: 50%;
    }   
}
@media screen and (max-width: 800px) {   
  #heading{
    font-size: 21px;
  }
    form > div:last-child{
        padding-bottom: 10px;
    }
}
#buttondiv{
    overflow: hidden;
}
/*#submitbtn{
    margin-top: 20px;
}*/
</style>
<div class="row" >
  <div class="container z-depth-5" id="nicebox" >
  <div align="center">
    
    <h3 id="heading">{% trans "Password Reset" %}</h3>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="buttondiv">
        <button type="submit" id="submitbtn" class="btn waves-effect blue white-text waves-blue left">{% trans "Reset My Password" %} &raquo;</button>
        </div>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </form>
    </div>  
</div>
</div>
<script type="text/javascript">
    $( document ).ready(function() {
      $('form > p').each(function(){
        $('form > p').replaceWith(function(){
        return $("<div />", {html: $(this).html()});
        });
        $('input').parent().addClass('input-field');
      });
      });
    </script>
{% endblock %}