{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<style type="text/css">
  #heading{
    font-weight: 300;
    text-align: center;
  }
  .btn-large {
    width:100%;
  }
  #nicebox{
    border-top: 4px solid #4c9cdf;
    margin-top:6%;
    background-color: white;
  }
  .waves-effect.waves-blue .waves-ripple {
      background-color: rgb(33,150,243);
    }
  .errorlist{
    list-style-type: none;
    color: #b11616;
    font-size: 12px;
    text-align: left;
  }
  @media screen and (min-width: 800px) {
    form{
    width: 60%;
    padding-bottom: 8%;
  }
  .container{
    width: 50%;
    overflow: hidden;
    }   
}
@media screen and (max-width: 800px) {   
  #heading{
    font-size: 21px;
  }
}
#btn2{
	padding-bottom: 30px;
}
</style>
<div class="row" >
  <div class="container z-depth-5" id="nicebox" >
  <div align="center">
        <h3 id="heading">{% trans "Password Reset" %}</h3>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    <div class="col s12 m12 l6">
	<button id="btn1" class="btn btn-large waves-effect blue white-text waves-light left">Sign In&raquo;</button>
    </div>
    <div class="col s12 m12 l6">
	<button id="btn1" class="btn btn-large waves-effect blue white-text waves-light left">Sign Up &raquo;</button>
    </div>
    <div class="col s12 m12 l12">
	<button id="btn2" class="btn btn-large waves-effect blue white-text waves-light left">Return to Home Page &raquo;</button>
    </div>
  </div>    
</div>
</div>
<script type="text/javascript">
    $( document ).ready(function() {
      $('form > p').each(function(){
        $('form > p').replaceWith(function(){
        return $("<div />", {html: $(this).html()});
        });
        $('input').parent().addClass('input-field');
      });
      });
    </script>
{% endblock %}