<br><br>
<table class="table table-striped">
<% for(var i=0; i<supplies.length; i++) {%>
	<tr>
        <td class="preview">
            <%= img_tag(supplies[i]['url'])%>
        </td>
        <td class="name">
            <%= link_to(supplies[i]['url'], supplies[i]['url']) %>
        </td>

    </tr>
<% } %>
</table>