


    <td class="name">
        <%= link_to(supplies['url'], supplies['url']) %>
    </td>
    <!--
    <td class="delete span4">
        <a class="btn btn-danger" href="">
        <i class="icon-trash icon-white"></i>
        <span>Delete</span>
        </a>
    </td>
    -->

