
{% extends "upload_base.html" %}
{% load upload_tags %}

{% block content %}
<style>

    .button_link {
    cursor: pointer;
    }
    .demo_img{
	height: 300px;
    padding: 6px;
}
.demo_img:hover {
	border: 6px solid black;
    padding: 0px;
    cursor: pointer;
}

</style>

<div class="container">
   <div class="page-header">
       <h1 align="center">CloudCV Decaf Server - Specify a model</h1>
       <br>
       <p  style="text-align:center; font-size: 19px; ">
           Need <a href="http://arxiv.org/abs/1310.1531">Decaf features</a>? Don't have GPUs?  Don't want to deal with installing <a href="http://caffe.berkeleyvision.org/">Caffe</a>?
           <br><br>CloudCV provides dedicated servers to extract Decaf features.
           <br><br><span style="font-size: 14px;">Browsers currently supported: Google Chrome, Mozilla Firefox</span>

       </p>
       <br><br>

       </div>
</div>
   <div class="container">
   <div class="page-header">
        <h2>Try Decaf-Server: Sample Images</h2>
        <br>
       <font size="4">Click on one of these images to send it to our servers (Or <a class="button_link" onclick="scrollToElement($('#userImages'))">upload</a> your own images below)</font>
       <br>
       <br>
   <div class="row">
       <img src="/media/pictures/demo/2007_000175.jpg" onclick="submitDemoImage(this.src)" class="demo_img col-md-4" ></img>
       <img src="/media/pictures/demo/2007_001288.jpg" onclick="submitDemoImage(this.src)" class="demo_img col-md-4" ></img>
       <img src="/media/pictures/demo/2007_006585.jpg" onclick="submitDemoImage(this.src)" class="demo_img col-md-4" ></img>
   </div>
   <div class="row">
       <img src="/media/pictures/demo/2008_000189.jpg" onclick="submitDemoImage(this.src)" class="demo_img col-md-4" ></img>
       <img src="/media/pictures/demo/2007_009817.jpg" onclick="submitDemoImage(this.src)" class="demo_img col-md-4" ></img>
       <img src="/media/pictures/demo/2008_000336.jpg" onclick="submitDemoImage(this.src)" class="demo_img col-md-4" ></img>
       <br>
   </div>
   <form id="demoupload" method="post">{% csrf_token %}
        <input type="hidden" name="socketid-hidden" value="test" id="socketid_demo" value="$csrf_token"/>
        <input type="hidden" name="demo" value="demo"/><br>
        <input class="btn btn-primary" type="submit" value="Submit All"/>
   </form>
       </div>
   </div>



<div class="container">
    <div class="page-header">
        <h2>Upload Files: Dropbox</h2>
        <br>
        <label for="exampleInputEmail1"> Model Name</label>
        <input type="text" class="form-control" name="zip-file" id="zip-file" placeholder="Zip File Link"><br>
        <br>
        <div class="row">
            <div class="col-md-12" id="drop-in">
                <button class="btn btn-primary" onclick="uploadFromDB()">Choose From Dropbox</button>
               <!-- <button class="btn btn-primary" onclick="submitDBImages()">Submit</button>  -->
                <br>
            </div>
        </div>
        <div id="link">
        </div>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h2 id="userImages">Upload Files: Local Drive</h2>
        <br>
         For a large number of images, we recommend using the CloudCV <a href="https://github.com/batra-mlp-lab/pcloudcv/">Python</a> and
        <a href="https://github.com/batra-mlp-lab/mcloudcv/">MATLAB</a> APIs.
    <br><br>
        <form id="fileupload" method="post" action="." enctype="multipart/form-data">{% csrf_token %}
        <input type="hidden" name="socketid-hidden" value="test" id="socketid" value="$csrf_token"/>
        <label for="exampleInputEmail1"> Model Name</label>
        <input type="text" class="form-control" name="model-name" id="model-name" placeholder="ModelName"><br>

        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <!--<noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>-->
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files and Upload</span>
                    <input type="file" name="file" multiple>
                </span>
            </div>
            <!-- The global progress information -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div id="dropArea" style="height:100px;border-style:dashed;">
            <h3 style="text-align: center;padding-bottom: 15px; padding-top: 15px "> You can also drag and drop images here </h3>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
    </form>
    <div class="fileupload-content">
        <table class="files"></table>
        <div class="fileupload-progressbar"></div>
    </div>
    </div>
    <h3 id="termstart">Terminal: </h3>
    <div id="Console" style="height:300px; color: #FFFFFF; background-color: #2B2A2B; overflow:scroll; padding: 10px;">
        <ul id="comments" style='list-style-type:none;'>
        </ul>
    </div>
    <br>
   <div id="underTheHood">
    <h3>How it works</h3><br>
    <font size="4"><ol>
        <li>You upload an image.</li>
        <li>Your request is sent to our servers with GPUs courtesy NVIDIA.</li>
        <li>Our servers extract decaf features using <a href="http://caffe.berkeleyvision.org/">Caffe</a> and save it into a mat file.</li>
        <li>Results and updates are shown real time.</li>
    </ol></font><br><br>
    </div>

    <div id = "ResultImage" style="padding-bottom:100px;">
        <h3 style="padding-top:30px;padding-bottom:30px;">Results</h3>

        <button class="btn btn-primary" onclick="saveImages()">Save to Dropbox</button>
        <button class="btn btn-primary" onclick="getTarFile()">Download All</button>

        <div id="tar_file_container" class= "" style="padding-top: 20px; padding-bottom: 20px;">

        </div>
        <table class="table table-striped" id="result_table">
        </table>
    </div>

    <div id="creditSection">
    <h3>Credits</h3><br>
    <font size="4">
        This demo uses <a href="http://caffe.berkeleyvision.org/">Caffe</a> at the back end. Thank you Caffe team!
    </font><br><br>
    </div>

</div>
<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>Download</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Previous</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>Next</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>
{% upload_js %}

<script>
    var socketid;
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ STATIC_URL }}js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{{ STATIC_URL }}js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{{ STATIC_URL }}js/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{{ STATIC_URL }}js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<!-- blueimp Gallery script -->
<script src="{{ STATIC_URL }}js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ STATIC_URL }}js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{ STATIC_URL }}js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="{{ STATIC_URL }}js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{{ STATIC_URL }}js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="{{ STATIC_URL }}js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="{{ STATIC_URL }}js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="{{ STATIC_URL }}js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="{{ STATIC_URL }}js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="{{ STATIC_URL }}js/main.js"></script>
<script src="{{ STATIC_URL }}js/locale.js"></script>
<script src="{{ STATIC_URL }}js/csrf.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]>
<script src="{{ STATIC_URL }}js/cors/jquery.xdr-transport.js"></script>
<![endif]-->

<script src="/node/socket.io/socket.io.js"></script>
<script src="/static/js/ejs_production.js"></script>
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="3bh4nkyaszl2nhd"></script>


<script>
    var temp_dict = [];
    var result_list = [];
    var template_result = new EJS({url: '/static/templates/display_result.ejs'});
    var socketid;
    var fileName =[];
    var socket;
    var flag = true;

    $(document).ready(function()
    {
            $('.demo_img').each(function(){
            var width = $(this).width();
            console.log(width);
            $(this).css("height", width * 0.7);
        });

        $(window).on('resize', function(){
        $('.demo_img').each(function(){
            var width = $(this).width();
            console.log(width);
            $(this).css("height", width * 0.7);
        });
        });
        var host = location.origin;
        socket = io.connect(host,{transports: ["websocket"]});

        socket.on('connect', function(){
            console.log("connect");
        });

        socket.on('message', function(message)
        {
            if(message.socketid)
            {
                document.getElementById('socketid').value= message.socketid.replace(/&/g,"&amp;").replace(/</g,"&lt;").replace(/>/g,"&gt;");
                document.getElementById('socketid_demo').value= message.socketid.replace(/&/g,"&amp;").replace(/</g,"&lt;").replace(/>/g,"&gt;");
                socketid = document.getElementById('socketid').value
            }
            if(message.visit)
            {
                $('#statcounter').append('<p>' + message.visit );
                console.log(message.visit);
            }
            if(message.name)
            {
                console.log(message.name);
                $('#comments').prepend('<li>' + message.name + '</li>');

            }
            if(message.web_result)
            {
                var table = document.getElementById("result_table");

                var newImageURL = message.web_result
                var url_token = message.web_result.split('/');

                console.log("URL_TOKEN" + url_token);
                fileName.push(message.web_result);
                console.log(fileName[fileName.length-1]);

                var newrow = table.insertRow(table.rows.length);
                newrow.id = 'result_'+newrow.rowIndex;

                window.template_result.update(newrow.id, {supplies: {'url': newImageURL.toString()}});

                result_list.push({'url': location.origin + newImageURL.toString()});

                if (flag == true){
                    scrollToElement($(table));
                    flag = false;
                }
                console.log(result_list);
                console.log(fileName);
            }
        });
        socket.on('error', function(message){
            if(message.error)
            {
                console.log(message.error);
                $('#comments').prepend('<li>' + message.error + '</li>');

            }
        });

        socket.on('tarFile', function(message){
            console.log(message);
            if(message.tarFile)
            {

                var tardiv = document.getElementById("tar_file_container");
                var newa = document.createElement("a");
                newa.href = message.tarFile;
                newa.id = "tar_link"
                token = message.tarFile.split('/');

                newa.innerHTML = token[token.length - 1];

                console.log($("#tar_link").length);
                if ($("#tar_link").length==0)
                {
                    console.log("Empty Inner HTML");

                    tardiv.appendChild(newa);
                }
                else
                {
                    tardiv.replaceChild(newa, document.getElementById("tar_link"));
                }
            }
        });
    });
</script>

<script>
        function getTarFile()
        {
            if (fileName.length != 0)
            {
                var tardiv = document.getElementById("tar_file_container");
                var newa = document.createElement("p");
                newa.id = "tar_link"


                newa.innerHTML = 'Generating Tar Files...';

                console.log($("#tar_link").length);
                if ($("#tar_link").length==0)
                {
                    console.log("Empty Inner HTML");
                    tardiv.appendChild(newa);
                }
                else
                {
                    tardiv.replaceChild(newa, document.getElementById("tar_link"));
                }

                    console.log(fileName);
                    socket.emit('get_tar', {list_of_files: fileName });
                    fileName = [];
            }
            else
            {

                alert("No results have been computed yet. ");
            }

        }
        function scrollToElement(dstElement)
        {
            var scrollPixels = dstElement.offset().top - $(".navbar-fixed-top").height();
            $('html, body').animate({
            scrollTop: scrollPixels
            }, 2000);
        }

        function submitDemoImage(src){
            flag = true;
            console.log("Submitted demo image");
            $('#comments').prepend('<br>');
            $('#comments').prepend('<li>' + "Submitted demo image" + '</li>');
            console.log(src);
            console.log($("#termstart").offset().top);
            console.log($(".navbar-fixed-top").height());

            scrollToElement($("#termstart"));


                $.ajax({
                type 		: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url 		: '/demo_decaf/', // the url where we want to POST
                data 		: {'src':src, 'socketid': window.socketid} // our data object
            })// using the done promise callback
                .done(function(data) {
                    console.log(data);
                });
            //Change back to original image
        }
        function uploadFromDB() {
            var as = obj.getElementsById('zip-file');
            scrollToElement($("#termstart"));
                $.ajax({
                type 		: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url 		: '/decaf_train/', // the url where we want to POST
                data 		: {'urls':as, 'socketid': window.socketid} // our data object
            })// using the done promise callback
                .done(function(data) {
                    console.log(data);
                });

    }

    function submitDBImages(){
        flag = true;
        console.log("Submitted");
        $('#comments').prepend('<br>');

        $('#link').each(function(i, obj){
           console.log(i);
            var as = obj.getElementsByTagName('a');
            console.log(as);
            var aslength = as.length;
            for (var i =0; i<aslength;i++){
                console.log(as[i].href);
            }
        });
            var temp_list = [];
            for(var i =0;i<temp_dict.length;i++){
                temp_list.push(temp_dict[i]['url'])
            }
            temp_list.push("Done");
            console.log(temp_list);
            scrollToElement($("#termstart"));
            $.ajax({
			type 		: 'POST', // define the type of HTTP verb we want to use (POST for our form)
			url 		: '/decaf_dropbox/', // the url where we want to POST
			data 		: {'urls':temp_list, 'socketid': window.socketid} // our data object
		})// using the done promise callback
			.done(function(data) {
                console.log(data);
			});

    }

    function saveImages(){
        Dropbox.save({
            files: result_list,
            success: function(){
                result_list = [];
            },
            error: function (errorMessage) {
                console.log(errorMessage);
            }
        });
    }
</script>

<script>
    window.onload= function()
    {
        var li_decaf_server = document.getElementById("decaf-server");
        li_decaf_server.className = "active";
        // Append trailing slash at the end of the URL
        var url = window.location.pathname;
        console.log(url);
        var urlParts = url.split("/")
        var result = '';
        console.log(urlParts);
        for (i = urlParts.length -1 ; i < urlParts.length; i++)
        {
            if (urlParts[i]!='')
            {

                if (urlParts[i].indexOf('#') > -1) {
                    // trailing slash not required
                    result = url;
                }
                else {
                    //Assume this is a folder and add a slash
                    result = url + '/';
                    window.location.pathname=result;
                }

            }
        }
        url=result;
        console.log(url);
        //window.location.pathname=result;

    };
</script>

<script>
    $(document).ready(function(){

        $('#demoupload').submit(function(event){
            flag = true;
            console.log("Submitted");
            $('#comments').prepend('<br>');
            scrollToElement($("#termstart"));

            $.ajax({
			type 		: 'POST', // define the type of HTTP verb we want to use (POST for our form)
			url 		: '/demo_decaf/', // the url where we want to POST
			data 		: {'socketid': window.socketid} // our data object
		})// using the done promise callback
			.done(function(data) {
                console.log(data);
			});

        event.preventDefault();
        });

    });

</script>
{% endblock %}
