<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width">
            <title>CloudCV</title>
            <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>


            <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css"></link>

            <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">

            <script src="{{STATIC_URL}}js/vendor/custom.modernizr.js"></script>

        </head>
        <body class="off-canvas hide-extras">

            <div class=" contain-to-grid">

                <nav class="top-bar">
                <ul class="title-area">
                    <li class="name">
                    <h1><a href="http://cloudcv.org">CloudCV</a></h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
                    </li>		
                </ul>	
                <section class="top-bar-section">
                <ul class="left">
                    <li class="divider"></li>
                    <li><a href="/image-stitch">Image Stitch</a></li>
                    <li class="divider"></li>
                    <li style="text-decoration-color: #ffffff;"><a href="http://objdetect.cloudcv.org">Object Detection</a></li>
                    <li class="divider"></li>
                    <li><a href="/decaf-server">Decaf-Server</a></li>
                    <li class="divider"></li>
                    <li><a href="/classify">Classification</a></li>
                    <li class="divider"></li>
                    <li><a href="/vip">VIP</a></li>
                    <li><a href="/trainaclass">Train a new category</a></li>

                </ul>
                </section>
                </nav>	

            </div>


            <section role="main">	
            <header>
            <div class="row">
                <div class="twelve columns">
                    <h1>Welcome To CloudCV</h1>
                    <h4>Large-Scale Distributed Computer Vision As A Cloud Service</h4>
                </div>
            </div>
            </header>

            <div class="row">
                <div class="small-6 large-centered columns">
                    <iframe src="http://prezi.com/embed/txskvdzady1u/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined" width="550" height="400" frameBorder="0"></iframe>
                </div>	
            </div>

            <div class="row use-homepage">
                <hr>
                <div class="twelve columns">
                    <h3>Try CloudCV API with:</h3>

                    <div class="row">
                        <div class="large-6 columns" style="text-align:center">
                            <img src="{{STATIC_URL}}img/Matlablogo.png" width="330" ></img>
                            <p>Use CloudCV API with your Matlab code.</p><br>
                            <a href="https://github.com/batra-mlp-lab/mcloudcv/" class="medium button large-6">Git-Hub Repository</a>
                            <a href="https://github.com/batra-mlp-lab/mcloudcv/wiki/" class="medium button large-6">Documentation</a>
                        </div>					
                        <div class="large-6 columns" style="text-align:center">

                            <img src="{{STATIC_URL}}img/Pythonlogo.png" width="350"></img>
                            <p>Download CloudCV module from <a href="https://pypi.python.org/pypi/PCloudCV/">PyPI(Python Package Index) </a>and use it with your Python code</p>					
                            <a href="https://github.com/batra-mlp-lab/pcloudcv/" class="medium button large-6">Git-Hub Repository</a>
                            <a href="https://github.com/batra-mlp-lab/pcloudcv/wiki/" class="medium button large-6">Documentation</a>
                        </div>
                    </div>
                    <div class="row">
                        <p>
                        Bibtex entry for citing our system is provided for your convenience.</br>
                        <tt>
                            @ONLINE{CloudCV,</br>

                            author = {Agrawal, H. and Chavali, N. and Mathialagan C. and Goyal, Y. and Alfadda, A. and and Banik., P and Batra, D.},</br>

                            title = {CloudCV: Large-Scale Distributed Computer Vision as a Cloud Service},</br>

                            month = sept,</br>

                            year = {2013},</br>

                            url = {http://cloudcv.org}</br>

                            } </br>
                        </tt>
                        </p>
                    </div>            
                    <hr>

                </div>
            </div>
            </section>
	    <div class="news-section">
		<h1>News</h1>		
		<div class="row">
		  	
		<div class="large-12 columns">
		    <ul>
		    <li> <b>1/31/2014:</b> NVIDIA supports CloudCV with a GPU hardware donation.</li>
		    <li> <b>1/17/2014:</b> CloudCV recieves Microsoft Azure Research Award </li>
		    <li> <b>10/15/2013:</b> CloudCV has been awarded Amazon Web Services (AWS) in Education: Machine Learning Research Grant. </li>
		    </ul>
		</div>
		<hr>
		</div>
	    </div> 
            <div class="contribute-homepage">					
                <div class="row">
                    <div class="large-4 columns" style="text-align:center">
                        <img src="{{STATIC_URL}}img/vt.png" width="300"></img><br></br>
                        <p>This is a project being developed at the Machine Learning and Perception Lab, led by Prof. Dhruv Batra</p>
                    </div>			
                    <div class="large-4 columns" style="text-align:center">
                        <img src="{{STATIC_URL}}img/graphlab.png" width= "200" height="150"></img><br></br>
                        <p>CloudCV uses <a href="http://graphlab.org/toolkits/computer-vision/">GraphLab</a> for implementing distributed computer vision algorithms.</p>
                    </div>
                    <div class="large-4 columns" style="text-align:center">
                        <img src="{{STATIC_URL}}img/opencv.jpg" width="100" height="150"></img>
                        <p>Some of the functionality is derived from using OpenCV with Graphlab SDK.</p>
                        <br>
                    </div>
                    <hr>
                </div>
                

                <div class="team">
                    <h1>Team
                    </h1>

                    <div class="row">
                        <div class="large-3 columns">
                            <img src = "{{STATIC_URL}}img/DP.JPG" class = "home_team_picture"><br>
                            Harsh Agrawal:<br><a href="mailto:h.agrawal092@gmail.com?Subject=CloudCV"> h.agrawal092@gmail.com</a><br><br><br>
                        </div>

                        <div class="large-3 columns">
                            <img src = "{{STATIC_URL}}img/clint.jpg" class = "home_team_picture"><br>
                            Clint Solomon: <br><a href="mailto:mclint@vt.edu?Subject=CloudCV">mclint@vt.edu</a><br> <br><br>
                        </div>

                        <div class="large-3 columns">
                            <img src = "{{STATIC_URL}}img/yash1.jpg" class = "home_team_picture"><br>
                            Yash Goyal: <br><a hre="mailto:ygoyal@vt.edu?Subject=CloudCV">ygoyal@vt.edu</a><br><br><br>
                        </div>

                        <div class="large-3 columns">
                            <img src = "{{STATIC_URL}}img/dhruv_batra_200.jpg" class = "home_team_picture"><br>
                            Prof. Dhruv Batra:<br> <a href="http://filebox.ece.vt.edu/~dbatra/"> Webpage</a><br><br><br>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="team">
                    <h1>Past Contributors
                    </h1>

                    <div class="row">
                        <div class="large-4 columns">
                            <img src = "{{STATIC_URL}}img/IMG_0356.JPG" class = "past_team_picture"><br>
                            Neelima Chavali: <br><a href="mailto:gneelima@vt.edu?Subject=CloudCV">gneelima@vt.edu</a><br><br><br>
                        </div>

                        <div class="large-4 columns">
                            <img src = "{{STATIC_URL}}img/Abdullah_alfadda.jpg" class = "past_team_picture"><br>
                            Abdullah Alfadda: <br><a hre="mailto:alfadda@vt.edu?Subject=CloudCV">alfadda@vt.edu</a><br><br><br>
                        </div>

                        <div class="large-4 columns">
                            <img src = "{{STATIC_URL}}img/prakrti.jpg" class = "past_team_picture"><br>
                            Prakriti Banik: <br><a href="mailto:prakriti@vt.edu?Subject=CloudCV">prakriti@vt.edu</a><br> <br><br>
                        </div>
                    </div>
                </div>

                    <div class="row">

                     <section style="text-align:center;">
                         If you have any suggestions, feedback, feature-request or
                         if you are interested in contributing to the project,
                         <a href="mailto:h.agrawal092@gmail.com">email us.</a>
                     </section>
                     <hr>
                    </div>
            
            <div class="row team">
                    <h1 style="text-align:center">Sponsors</h1>
                    <div class="large-3 columns" style="text-align:center;margin-top:20px">
                        <img src="{{STATIC_URL}}img/vt.png" width="200"></img><br></br>
                    </div>
                    <div class="large-3 columns" style="text-align:center ; margin-top:20px">
                        <img src="{{STATIC_URL}}img/aws.png" width="200"></img><br>
                    </div>
                    <div class="large-3 columns" style="text-align: center;margin-top:40px">
                        <img src="{{STATIC_URL}}img/azure.png" width="300"></img><br>
                    </div>
		            <div class="large-3 columns" style="text-align: center; ">
		                <img src="{{STATIC_URL}}img/nvidia.png" width="150"></img><br>
		            </div>
                    <hr>
            </div>

            <script>
                document.write('<script src=' +
                    ('__proto__' in {} ? '{{STATIC_URL}}js/vendor/zepto' : '{{STATIC_URL}}js/vendor/jquery') +
                    '.js><\/script>')
                </script>

                <script src="{{STATIC_URL}}js/foundation.min.js"></script>

                <script src="{{STATIC_URL}}js/foundation/foundation.js"></script>
                <script src="{{STATIC_URL}}js/foundation/foundation.topbar.js"></script>
                <script src="{{STATIC_URL}}js/foundation/foundation.alerts.js"></script>

                <script src="{{STATIC_URL}}js/foundation/foundation.clearing.js"></script>

                <script src="{{STATIC_URL}}js/foundation/foundation.cookie.js"></script>

                <script src="{{STATIC_URL}}js/foundation/foundation.dropdown.js"></script>

                <script src="{{STATIC_URL}}js/foundation/foundation.forms.js"></script>

                <script src="{{STATIC_URL}}js/foundation/foundation.joyride.js"></script>

                <script src="{{STATIC_URL}}js/foundation/foundation.magellan.js"></script>

                <script src="{{STATIC_URL}}js/foundation/foundation.orbit.js"></script>

                <script src="{{STATIC_URL}}js/foundation/foundation.reveal.js"></script>

                <script src="{{STATIC_URL}}js/foundation/foundation.section.js"></script>

                <script src="{{STATIC_URL}}js/foundation/foundation.tooltips.js"></script>  
                <script src="{{STATIC_URL}}js/foundation/foundation.interchange.js"></script>

                <script src="{{STATIC_URL}}js/foundation/foundation.placeholder.js"></script>

                <script src="{{STATIC_URL}}js/foundation/foundation.abide.js"></script>

                <script>
                    $(document).foundation();
                </script>
                <script>
                      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                              ga('create', 'UA-45466017-1', 'cloudcv.org');
                                ga('send', 'pageview');

                            </script>
            </body>
        </html>
