<!DOCTYPE HTML>
<html lang="en">
<head>
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <meta charset="utf-8">
    <title>CloudCV: Large Scale Distributed Computer Vision as a cloud service</title>
    <meta name="description" content="CloudCV: Large Scale Distributed Computer Vision as a Cloud Service">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Generic page styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fileupload-ui.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fileupload-ui-noscript.css"></noscript>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-45466017-1', 'cloudcv.org');
          ga('send', 'pageview');
    </script>
    <!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <!-- Importing Web Component's Polyfill -->
    <script src="/static/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-fixed-top .navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">CloudCV</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="image-stitching"><a  href="/image-stitch">Image Stitching</a></li>
                 <li id = "object-detection" ><a href="http://objdetect.cloudcv.org">Object Detection</a></li>
                <li id = "decaf-server"><a  href="/decaf-server">Decaf-Server</a></li>
                <li id = "classification" ><a href="/classify">Classification</a></li>
                <li id = "poi" ><a href="/vip">VIP</a></li>
                <li id="trainaclass"><a href="/trainaclass">Train a new category</a></li>
                <li id="vqa"><a href="/vqa">VQA</a></li>
            </ul>
        </div>
    </div>
</div>

{% block content %}
    <h1>No content set</h1>
{% endblock %}

</body>
</html>
